@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background-color: #0f0f0f;
  color: #e5e5e5;
  font-family: ui-sans-serif, system-ui, -apple-system;
}
